<%- include('../includes/navbar') %>
<h2>Select Date for Exchange</h2>
<form action="/exchange/date" method="POST">
  <label for="date">Date</label>
  <input type="date" name="date" id="date" required />
  <button class="btn btn-primary" type="submit">Next</button>
</form>
